<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pages-trunk-20080703_5</string>
	<string>pages-trunk-20080715_1</string>
	<string>pages-alpha09-20080715_1</string>
	<string>pages-trunk-20080721_1</string>
	<string>pages-trunk-20080722_1</string>
	<string>pages-trunk-20080724_1</string>
	<string>pages-trunk-20080725_1</string>
	<string>pages-trunk-20080831_1</string>
	<string>pages-trunk-20080922_1</string>
	<string>pages-trunk-20081003_1</string>
	<string>local build-Oct 16 2012</string>
	<string>T1.7.2 (753)</string>
	<string>TX-v3.[2012-09-12].0 (Nov  9 2012)</string>
	<string>local build-Oct 16 2012</string>
</array>
</plist>
